* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header styling */

nav ul {
  display: flex;
  height: 10vh;
  list-style: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 2px;
}

nav ul li {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul li:nth-child(2) {
  border-left: rgba(0, 0, 0, 0.2) solid 2px;
  border-right: rgba(0, 0, 0, 0.2) solid 2px;
}

/* headline styling */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

/* home tab styling */

.carousel {
  position: relative;
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  background-color: grey;
}

.carouselTrackContainer {
  height: 100%;
  position: relative;
}

.carouselTrack {
  list-style: none;
}

.carouselItem {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  right: -200%;
}

.carouselItem .bookCard {
  width: 90%;
  height: 80%;
}

.leftArrowButton,
.rightArrowButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.leftArrowButton img,
.rightArrowButton img {
  width: 30px;
}

.rightArrowButton {
  right: 0;
}

.leftArrowButton {
  z-index: 20;
}

.indicators {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.indicatorButton {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  cursor: pointer;
}

.indicatorButton.currentBook {
  background: rgba(0, 0, 0, 0.75);
}

/* booklist tab styling */

.bookCard {
  margin: 5%;
  border: rgba(0, 0, 0, 1) solid 2px;
  display: flex;
  flex-direction: column;
}

.bookCard > * {
  margin: 5px 0 5px 10px;
}

.bookCard h2 {
  margin: 5px 10px;
}

.bookCard select,
.bookCard button {
  width: fit-content;
  padding: 5px;
}

.bookCard h2 {
  border-bottom: rgba(0, 0, 0, 1) solid 2px;
}

.container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookCard img {
  filter: grayscale(100%) sepia(100%) hue-rotate(180deg) brightness(80%)
    contrast(90%);
  height: 36px;
  width: 36px;
  transform: rotate(90deg);
  cursor: pointer;
}

.bookCard img:hover {
  filter: grayscale(0%) sepia(0%) hue-rotate(0deg) brightness(60%)
    contrast(100%);
}

.bookCard p,
#collapse {
  display: none;
}

.bookCard p {
  margin-right: 5px;
}

#collapse {
  margin-left: auto;
}

/* catalog tab styling */

.addBookForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 40px;
  padding: 10px;
  border: rgba(0, 0, 0, 1) solid 3px;
}

.addBookForm > lable {
  margin-top: 10px;
}

.addBookForm > input {
  width: 100%;
}

.addBookForm > select {
  margin: 10px 0;
}
